.default {
    
}
body {
    width: 100%;
}

html, body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(46, 46, 46, 0.288);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 00.5rem;
    top: 0;
    column-gap: 0.5rem;
}
.block1 {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(99, 99, 99);
}
.block2 {
    display: flex;
    justify-content: center;
    height: 7vh;
    background-color: rgb(199, 199, 199);
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: rgba(46, 46, 46, 0.288);
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    background-color: rgba(46, 46, 46, 0.288);
}