body {
    width: 100%;
}

html, body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.432);
    padding-top: 0.5rem;
    height: 5.625rem;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-left: 00.5rem;
    top: 0;
    column-gap: 0.5rem;
    z-index: 999;
}
.block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.splitter1 {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: rgb(199, 199, 199);
}
.icon {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    width: 20%;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}
.videobackgroundCont {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.videobackground {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    filter: brightness(20%) grayscale(1%);
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url(imgs/exxx0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/ezzzwin.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}
.contactLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 100%;
    background-color: rgb(199, 199, 199);
}
.footer {

}


