#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 0 22vw 3rem 22vw;
    transition: ease 0.4s;
}
#about-title{
    display: flex;
    text-align: center;
    color: $secondary-color;
    font-family: $title-font;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-shadow: 0px 3px 0px $secondary-background-color;
}
#about-content{
    font-family: $primary-font;
    font-weight: bolder;
    text-align: center;
    color: $secondary-background-color;
    text-shadow: 0px 1px 1px $secondary-background-color;
}