@media only screen and (min-width: 990px){
    #homepage{
        min-height: calc((var(--vh, 1vh) * 100) - 4.5rem);
        .homepage-section{
            row-gap: 6.5rem;
            #game-vibe-text{
                transform: scale(1.5);
            }
            .join-button-home-container{
                transform: scale(1.5);
            }
        }
        .learn-more-custom{
            transform: scale(1.2);
            bottom: 3rem;
        }
    } 
}