@media only screen and (min-width: 990px) {
    header{
        height: 4.5rem;
        .logo{
            img{
                transform: scale(1.5);
            }
        }
        .menu-header{
            .about-button-header-custom{
                transform: scale(1.5);
            }
            .join-button-header-container{
                margin-left: 3rem;
            }
            .join-button-header{
                transform: scale(1.5);

            }
            .join-button-header:hover{
                transform: scale(1.7);
            }
        }
    }  
}
// @media only screen and (min-width: 1600px) {
//     header{
//         height: 4.5rem;
//         .logo{
//             img{
//                 transform: scale(1.5);
//             }
//         }
//         .menu-header{
//             .about-button-header-custom{
//                 transform: scale(2);
//             }
//             .join-button-header-container{
//                 margin-left: 5rem;
//             }
//             .join-button-header{
//                 transform: scale(2);

//             }
//         }
//     }  
// }