@mixin join-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 1.75rem;
        filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.4));
        background: red;
        border-radius: 6px;
        text-decoration: none;
        p{
            display: flex;
            height: 100%;
            width: 100%;
            margin-right: -0.25rem;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: $primary-font;
            font-size: 0.75rem;
            letter-spacing: 0.25rem;
            font-weight: bolder;
            text-shadow: 0px 1.5px 0px $secondary-color;  
        }
}
@mixin game-window-preset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    row-gap: 1rem;
}
@mixin game {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    max-height: 20rem;
    width: 60vw;
    height: 60vw;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.76);
    border-radius: 10px;
}
@mixin carousel-mod {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    gap: 1rem;
    p{
        display: flex;
        max-width: 19rem;
        width: 49vw;
        height: 25vw;
        color: white;
        font-size: 0.7rem;
        font-family: $primary-font;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        text-align:center;
    }
}