@media only screen and (min-width: 1280px) {
    .contact-names {
        flex-direction: row;
    }
    .contact-contact {
        flex-direction: row;
    }
    #contact {
        padding-left: 330px;
        padding-right: 330px;
    }
}