header {
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100vw;
    background-color: $secondary;
    top: 0px;
    left: 0px;
}
.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    height: 100%;
    width: 50%;
}
.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
    height: 100%;
    width: 50%;
}
.logo img {
    width: 46px;
    height: 46px;
}
.menu img {
    width: 20px;
    height: 20px;
}
.buttons-container {
    display: none;
    a {
        button {
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid rgba(0, 0, 0, 0);
            color: #000000;
            font-size: 1.2rem;
            font-weight: 600;
            font-family: $default-font;
            text-transform: uppercase;
            padding: 8px;
            border-radius: 2px;
            transition-duration: 0.3s;
            cursor: pointer;
        }
    }
}
.buttons-container a button:hover {

    background-color: #b3aa9f;
}