header {
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100vw;
    background-color: $secondary;
    top: -1px;
    left: 0px;
}
.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    height: 100%;
    width: 50%;
}
.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
    height: 100%;
    width: 50%;
}
.logo img {
    width: 66px;
    height: 66px;
}
.menu img {
    width: 30px;
    height: 30px;
}