.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 226px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 714px;
  margin: 25px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 217px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 217px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 51px;
  width: 51px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/exxx0.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 657px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 520px;
  margin: 62px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 4px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 518px;
  margin: -267px 0 60px auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 4px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 551px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 551px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 551px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2555px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 660px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 660px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1655px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 351px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 73px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  line-height: 39.6px;
  font-weight: 700;
  width: 509px;
  margin: 17px auto;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-3 .u-text-1 {
    line-height: 1.5;
    width: auto;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
}