.footer {
    display: flex;
    height: 6.875rem;
    width: 100%;
    background-color: rgb(56, 53, 53);
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    word-spacing: 0.063rem;
}