h1 {
    color: #ff7b00;
    font-size: 30px;
    font-style: bold;
}
h2 {
    color: green;
    font-size: 25px;
    font-weight: 600;
}
.paragraph {
    color: var(--barvicka);
    text-align: center;
}
#secondaryStyle {
    color: violet;
    font-size: 16px;
    font-style: normal;
}


:root {
    --barvicka: blue
}